.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 90vh;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(orange, purple);
}

