.footer {
    font-size: 20px;
    font-family: italic;
    position: absolute;
    width: 100%;
    height: 31px;
    text-align: center;
    margin-top: 30px;
    justify-self: space-between;
    background-color: rgb(184, 124, 149);
}

.footer > h4 {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}